@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Laila:wght@300;400;500;600;700&family=Mukta:wght@200;300;400;500;600;700;800&family=Noto+Sans+Devanagari:wght@100..900&display=swap");

@import "tailwindcss";

.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

.laila-light {
  font-family: "Laila", serif;
  font-weight: 300;
  font-style: normal;
}

.laila-regular {
  font-family: "Laila", serif;
  font-weight: 400;
  font-style: normal;
}

.laila-medium {
  font-family: "Laila", serif;
  font-weight: 500;
  font-style: normal;
}

.laila-semibold {
  font-family: "Laila", serif;
  font-weight: 600;
  font-style: normal;
}

.laila-bold {
  font-family: "Laila", serif;
  font-weight: 700;
  font-style: normal;
}

@theme {
  --mukta: "Mukta", sans-serif;
  --mukta-variation-settings: "opsz" 700;
  --noto: "Noto Sans Devanagari", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-blue: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}

@layer components {
  .dark-blue-gradient {
    @apply bg-gradient-to-r from-[#0f172a] to-[#334155];
  }
  .tippy-custom {
    @apply [&>:first-child]:!p-0 [&>:first-child]:bg-white [&>:first-child]:text-black dark:[&>:first-child]:bg-black dark:[&>:first-child]:text-white w-[150px] max-h-[75vh] overflow-y-auto [&>:nth-child(2)]:text-red-500;
  }
  /* max-[400px]:h-[calc(100vh-140px)] h-[calc(100vh-70px)] */
  .message-ul-height {
    @apply max-[400px]:h-[calc(100vh-180px)] h-[calc(100vh-130px)];
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* content */
@layer components {
  .hashtag {
    @apply bg-black border cursor-pointer active:scale-95  text-blue-500 font-bold  rounded px-2 py-1;
  }
  .content {
    @apply bg-[#8484a52e] text-white rounded-lg px-5 py-2.5 w-fit;
  }

  :is(.content, .show-content) img {
    @apply !h-72 py-2 rounded-xl cursor-pointer;
  }
  :is(.content, .show-content) video {
    @apply h-72 py-2 rounded-xl;
  }

  :is(.content, .show-content) blockquote {
    @apply border-l-4 border-blue-700   px-2 py-2 before:content-[url('../assets/Quote.svg')]
    before:align-middle before:w-7 before:h-7 before:inline-block before:mr-2 after:content-[url('../assets/Quote.svg')] after:align-middle after:w-7 after:h-7 after:inline-block after:mr-2 after:rotate-180;
  }

  :is(.content, .show-content) .katex {
    @apply bg-[#232329];
  }

  :is(.content, .show-content) a {
    @apply text-blue-500 underline;
  }

  :is(.content, .show-content) ol {
    @apply list-decimal list-inside;
  }

  :is(.content, .show-content) h1 {
    @apply text-xl  font-[var(--mukta)];
  }
  /* :is(.content, .show-content) a {
    @apply bg-pink-500 cursor-pointer text-white rounded px-3 py-2;
  } */
}

.over-y {
  overflow-y: auto;
  scrollbar-width: none;
}

.katex-html {
  display: none;
}

.code {
  @apply gap-x-5 max-w-[600px] w-full bg-white dark:bg-[#232329] text-black dark:text-white rounded px-2 py-2;
}
.code > code {
  counter-increment: listing;
  @apply flex gap-x-2;
}
.code > :first-child::before {
  @apply rounded-t;
}
.code > :last-child::before {
  @apply rounded-b;
}
.code > ::before {
  content: counter(listing);
  @apply block bg-[#232329] dark:bg-white text-white dark:text-black px-2;
}

.formatting > * {
  user-select: none;
  padding: 3.2px;
  border-radius: 4px;
  cursor: pointer;
  border: 0.5px solid transparent;
}
.formatting > *:hover {
  border: 0.5px solid #2563eb;
}

.formate-animation {
  animation: formatting 0.2s ease-in-out;
}

@keyframes formatting {
  0% {
    top: 0;
  }
  100% {
    top: -0.75rem;
  }
}

.file-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 200px;
}

.file-name {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 4px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  min-width: 151px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.download-option {
  display: block;
  padding: 6px 10px;
  text-decoration: none;
  color: black;
}
.download-option:hover {
  background-color: #f0f0f0;
}
